# Temporary files
*.tmp
*.bak
*.swp

# API keys and secrets
.env

# Xcode and swift build tools
xcuserdata/
build/
.build
Packaging.log
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# VS Code
.history/
*.code-workspace

# IntelliJ and Eclipse
.idea
*.iml
.project

# OS metadata
.DS_Store
AppleDouble
.LSOverride
Thumbs.db
[Dd]esktop.ini
